{# src/PlatformBundle/Resources/views/About/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>A propos</title>
</head>
<body>
<h1>Platform 0.1</h1>

<p>
    Première application Symfony
</p>
</body>
</html>